@media (min-width: 480px) {
    .lg-hidden {
        display: none;
    }
}

@media (max-width: 980px) {
    .grid {
        text-align: center;
        ul {
            li {
                display: inline-block;
                float: none;
                width: 49%;
                height: auto;
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        background-position: 75%;
        padding: 10px !important;
    }
    .main-wrapper {
        background-position: 75%;
    }
    .overlay {
        border: 10px solid #fff;
    }
    
    header.header {
        min-height: 50vh;
        height: 50vh;
        border: 0px solid #fff !important;
        border-bottom: none;
    }
    header {
        position: fixed;
        top: 20px;
        left: 20px;
        ul {
            li {
                height: 40px;
                line-height: 40px;
                width: 78px;
                &:first-child {
                    width: 40px;
                }
            }
        }
    }
    .section .container {
        font-size: 24px;
        margin-left: 30px;
        margin-bottom: 40px;
        &.m-b-120 {
            margin-bottom: 60px;
        }
        .icon-down-white,
        #arrow.now-intro .icon-down {
            zoom: 0.7;
            transition: none;
            pointer-events: none;
        }
        p {
            margin-bottom: 15px;
            line-height: 1.5;
            width: 100%;
            .light:after {
                bottom: 13px;
            }
        }
    }
    .grid ul li {
        list-style: none;
        width: 100%;
        height: auto;
        display: block;
        float: none;
        position: relative;
    }
    .section-header {
        height: 50vh;
    }
    .col-6 {
        width: 100% !important;
        float: none !important;
        margin: 0 auto;
    }
    .section-header {
        background-size: cover !important;
    }
    .content {
        h1 {
            font-size: 24px;
            &.small {
                font-size: 18px;
            }
        }
        p {
            font-size: 11px;
            line-height: 1.8 !important;
        }
        a {
            font-size: 13px;
            &.more-link {
                font-size: 9px;
                margin-bottom: 25px;
            }
        }
    }
    .divider {
        margin: 20px auto 30px;
    }
    .lg-screen {
        margin-bottom: 21px;
    }
    #item {
        .page-container {
            margin-top: 57vh;
        }
    }
    ul {
        li.item {
            padding: 10px 0px 15px;
            a {
                font-size: 13px;
                line-height: 1.2;
                &:hover {
                    text-decoration: none;
                }
            }
            span {
                font-size: 11px;
                line-height: 1.2;
            }
        }
    }
    h3.headline-custom {
        margin-bottom: 10px;
        font-size: 18px;
    }
    #arrow a.icon-down:hover,
    #arrow a.icon-down:focus {
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    button.trigger {
        bottom: 10px !important;
        zoom: 1;
        display: none !important;
    }
}

@media (max-width: 325px) {
    ul li.item a {
        font-size: 12px;
        line-height: 1.2;
    }
    ul li.item span {
        font-size: 10px;
        line-height: 1.2;
    }
    ul li.item {
        padding: 8px 0px 11px;
    }
}