@media (max-width: 480px) {
  .xs-hidden {
    display: none; }

  .page-content section .feature-description li {
    width: 90%; }

  #contact {
    width: 100%;
    box-sizing: border-box;
    padding: 39px 30px;
    margin: 30px 0 !important; }

  #cd-google-map {
    padding: 20px 0 !important; }
    #cd-google-map address {
      left: 0 !important;
      bottom: 0 !important; } }
@media (max-width: 700px) {
  .col-6 {
    width: 90%;
    margin: 0 5%;
    float: none; }
    .col-6 .i-item {
      width: 100%; }
      .col-6 .i-item .item-desciption {
        height: auto; }

  .testimonial .pull-left {
    float: none; }
  .testimonial .img-box {
    margin: 0px auto 20px;
    float: none; }
  .testimonial .testimonial-txt {
    width: 90%;
    margin: 0 5%; }

  .col-6 .i-item {
    float: none !important;
    margin: 0 5%;
    max-width: auto; }

  .review-box {
    margin: 0px auto 40px !important; }

  .col-7 {
    width: 90%;
    float: none;
    margin: 0 auto; }

  .col-5 {
    width: 100%;
    float: none !important;
    margin: 0 auto; }
    .col-5 #contact {
      margin: 0 auto; } }

/*# sourceMappingURL=responsive.css.map */
