/* Font Import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg"); }
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Miller';
  src: url("../fonts/Miller/Miller-Display.otf"); }
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Miller-Italic';
  src: url("../fonts/Miller/Miller-DisplayItalic.ttf"); }
/* Reset */
html {
  font-size: 100%; }

body {
  color: #485156;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 20px !important;
  margin: 0px !important;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative; }

.main-wrapper {
  width: 100%;
  box-sizing: border-box;
  background: url("../img/main-bg.png");
  background-size: cover;
  background-position: right;
  position: relative; }

.page-container {
  width: 100%;
  height: 100vh; }

.grey-bg {
  background: #ededef; }

header.header {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0;
  border: 20px solid #fff;
  box-sizing: border-box;
  height: 100vh; }
  header.header .section-header {
    background-size: cover !important; }

.intro-effect-push {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

header {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 10000; }
  header ul {
    padding: 0;
    margin: 0; }
    header ul li {
      list-style: none;
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      width: 100px;
      text-align: center;
      background: #fff;
      margin: 1px; }
      header ul li a {
        text-transform: uppercase;
        font-weight: 600;
        color: #888888;
        font-size: 11px;
        letter-spacing: 1px;
        text-decoration: none;
        -webkit-transition: color 1s linear;
        transition: color 1s linear; }
        header ul li a:hover {
          color: #383838; }
      header ul li:first-child {
        width: 50px; }
        header ul li:first-child a {
          color: #383838;
          font-family: 'Miller', sans-serif;
          font-size: 24px; }

.section .fp-tableCell {
  vertical-align: bottom; }
.section .container {
  font-family: 'Miller', sans-serif;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
  margin-left: 60px; }
  .section .container.m-b-120 {
    margin-bottom: 120px; }
  .section .container p {
    margin-bottom: 20px;
    color: #383838;
    max-width: 870px; }
    .section .container p a {
      font-family: 'Miller-Italic', sans-serif;
      text-decoration: none;
      -webkit-transition: color 0.5s linear;
      transition: color 0.5s linear; }
      .section .container p a:hover {
        color: #fff; }
      .section .container p a span {
        position: relative;
        z-index: 20; }
    .section .container p .light {
      color: #888888;
      position: relative; }
      .section .container p .light:after {
        content: '';
        position: absolute;
        bottom: 30px;
        height: 1px;
        width: 100%;
        background: #fff;
        left: 0; }
      .section .container p .light.bottom:after {
        bottom: 3px;
        z-index: 10; }
    .section .container p i {
      font-family: 'Miller-Italic', sans-serif; }

.intro-loaded #arrow {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  cursor: pointer; }

#arrow a.icon-down:hover,
#arrow a.icon-down:focus {
  -moz-transform: translate3d(0, 10px, 0);
  -ms-transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

.icon-down-white,
#arrow.now-intro .icon-down {
  background: url("../img/sprite.svg") -120px 0px no-repeat;
  display: inline-block;
  zoom: 1.2;
  vertical-align: top;
  width: 40px;
  height: 0;
  padding-top: 40px;
  overflow: hidden;
  color: #383838; }

#arrow a {
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px; }

.clearfix {
  clear: both; }

.grid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.grid ul {
  padding: 0;
  margin: 0;
  line-height: 0; }
  .grid ul li {
    list-style: none;
    width: 33.333%;
    display: block;
    float: left;
    position: relative; }
    .grid ul li a {
      display: block; }
    .grid ul li img {
      width: 100%;
      height: 100%; }
    .grid ul li .description {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.95);
      padding: 35px;
      opacity: 0;
      -webkit-transition: opacity 0.5s linear;
      transition: opacity 0.5s linear; }
      .grid ul li .description:hover {
        opacity: 1; }
      .grid ul li .description .description-txt {
        position: absolute;
        bottom: 20px;
        left: 35px;
        text-align: left; }
        .grid ul li .description .description-txt h2 {
          font-size: 30px;
          color: #383838;
          font-weight: 400;
          font-family: 'Miller', sans-serif;
          letter-spacing: 2px;
          margin: 10px 0px;
          line-height: 28px; }
        .grid ul li .description .description-txt h3 {
          font-size: 11px;
          letter-spacing: 2px;
          color: #888888;
          font-weight: 600;
          text-transform: uppercase;
          margin: 10px 0px;
          line-height: 28px; }

.divider {
  height: 1px;
  width: 70%;
  max-width: 400px;
  background: #dbdbdb;
  margin: 60px auto 60px; }

.content {
  text-align: center;
  color: #383838;
  background-size: cover !important; }
  .content h1 {
    font-family: 'Miller', sans-serif;
    font-size: 48px;
    font-weight: 400; }
  .content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    max-width: 550px !important;
    width: 90%;
    margin: 0 auto;
    float: none;
    line-height: 2;
    letter-spacing: 1px; }
  .content a {
    font-family: 'Miller-Italic', sans-serif;
    font-size: 18px;
    color: #383838;
    text-decoration: none;
    display: block; }

.content {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .content .col-6 {
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    margin-top: 50px; }

#item .section .container {
  margin: auto;
  margin-top: 0px; }

.intro-effect-push.modify .page-container {
  margin-top: 100px !important; }

img.resize {
  width: 100%; }

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  border: 20px solid #fff;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  pointer-events: none; }

.img-responsive {
  max-width: 100%; }

.section-header {
  height: 100%; }

.lg-screen {
  margin-bottom: 100px; }

.clearfix {
  clear: both; }

a.more-link {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 60px; }
  a.more-link:hover {
    color: #fff; }

h1.small {
  font-size: 36px; }

ul li.item {
  list-style: none;
  padding: 15px 0px 20px;
  position: relative; }
  ul li.item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    max-width: 400px;
    width: 80%;
    background: #b6b6b7; }
  ul li.item a {
    font-family: 'Miller', sans-serif;
    font-size: 18px;
    display: block;
    color: #383838;
    text-decoration: none;
    line-height: 2; }
    ul li.item a:hover {
      text-decoration: underline; }
  ul li.item span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    line-height: 1;
    letter-spacing: 1px; }

.selected {
  margin: 15px 0;
  padding: 0; }

h3.headline-custom {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px; }

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.grid li:nth-child(1) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.grid li:nth-child(2) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }
.grid li:nth-child(3) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s; }
.grid li:nth-child(4) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }
.grid li:nth-child(5) {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s; }
.grid li:nth-child(6) {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s; }
.grid li:nth-child(7) {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  animation-delay: 3.2s; }
.grid li:nth-child(8) {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  animation-delay: 3.6s; }
.grid li:nth-child(9) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.section.active .container {
  opacity: 0; }

.section-center .container {
  opacity: 1 !important; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.trigger {
  bottom: 50px !important;
  background: url("../img/sprite.svg") -197px 0px no-repeat;
  display: inline-block;
  zoom: 1.2;
  vertical-align: top;
  width: 46px;
  height: 40px;
  padding-top: 40px;
  overflow: hidden;
  color: #383838;
  -webkit-transition: bottom  ease-out 0.5s;
  -moz-transition: bottom  ease-out 0.5s;
  -o-transition: bottom  ease-out 0.5s;
  transition: bottom  ease-out 0.5s; }
  .trigger:hover {
    bottom: 30px !important; }
  .trigger i {
    color: #fff;
    font-size: 60px; }

/*# sourceMappingURL=style.css.map */
